@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono';

@media screen {
    body {
	margin: 0;
	padding: 0;
    }
    #content {
	margin-left: 340px;
	margin-right: 5%;
    }
}

@media print {
    nav {
        display: none;
    }
}

body {
    background-color: #ffffff;
    font-family: "Roboto", serif;
    line-height: 1.4;
}

nav {
    position: fixed;
    top: 0;
    float: left;
    width: 280px;
    height: 100%;
    background-color: #e8e8e8;
    font-size: 80%;
    padding: 20px 10px;
}
nav ul {
    padding: 0;
}
nav li {
    list-style: none;
    padding-left: 40px;
    text-indent: -40px;
}
nav a:hover {
    background-color: #f5ebe1;
}

h1 {
    font-family: "Roboto Condensed", "DejaVu Serif Condensed", sans-serif;
    font-size: 250%;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

h2 {
    font-family: "Roboto Condensed", "DejaVu Serif Condensed", sans-serif;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

table {
    border: solid 1px #e0e0e0;
    border-collapse: collapse;
}
tbody {
    border: solid 1px #e0e0e0;
}
td, th {
    border-left: solid 1px #e0e0e0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
th {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

code {
    font-family: "Roboto Mono", monospace;
}

:not(pre) > code {
    color: #546e7a;
    background-color: #fafafa;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    padding: 0px 3px 0px 3px;
}

pre {
    color: #546e7a;
    background-color: #fafafa;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin: 1em;
    font-family: "Roboto Mono", monospace;
}


/* These faces comes from white-sand-theme
   (http://melpa.org/#/white-sand-theme) and are
   exported to CSS using htmlize (http://melpa.org/#/htmlize) 
*/


.builtin {
    /* font-lock-builtin-face */
    color: #0097A7;
}
.comment {
    /* font-lock-comment-face */
    color: #90A4AE;
}
.comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #90A4AE;
}
.constant {
    /* font-lock-constant-face */
    color: #5C6BC0;
      }
.doc {
    /* font-lock-doc-face */
    color: #78909C;
}
.function-name {
    /* font-lock-function-name-face */
    color: #42A5F5;
}
.keyword {
    /* font-lock-keyword-face */
    color: #7E57C2;
}
.negation-char {
    /* font-lock-negation-char-face */
    color: #FF1744;
}
.string {
    /* font-lock-string-face */
    color: #66BB6A;
}
.type {
    /* font-lock-type-face */
    color: #D84315;
}
